<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html>
    <head>
        <title>Daftar Hp</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div>Daftar Produk Hp</div>
        <hr>
        <table border="1">
            <th>No.</th>
            <th>JenisHp</th>
            <th>NamaHp</th>
            <tbody th:each="data1,count:${datahp}">
               <tr>
                    <td th:text="${count.index+1}">
                    <td th:text="${data1 [0]}"></td>
                    <td th:text="${data1 [1]}"></td>
                </tr>
            </tbody>
        </table>
        <p th:text = "${dataisnull}"></p> 
    </body>
</html>